.um {
    height: 8vh;
    width: 6vw;
  }
  .im {
    height: 100px;
    width: 100px;
  }
  .fie {
    background-color:whitesmoke;
    height: 60vh;
    width: 45vw;
    text-align:center;
    border-radius: 5px;
  }
  .container {
    margin:10px;
    text-align:center;
  }
  .om {
    height: 12vh;
    width: 8vw;
  }
  .first {
    background-size:cover;
    background-color:skyblue;
  }
  .third {
    background-color:#403571;
    color:white;
  }
  .colum {
    height: 30vh;
    width:22vw;
    margin: 20px;
    
  }
  .main-container{
    background-image:url("https://pngimg.com/uploads/trian/trian_PNG101335.png");
    background-size:cover;

    height: 120vh;
    background-color:skyblue;
  }
  .col {
    height:100vh;
    width: 25vw;
    margin: 2px;
   
    background-color:whitesmoke;
  }
  .em {
    height: 30vh;
    width: 25vw;
  }
  .cont {
    height:100vh;
    width:96vw;
  }
  .second {
    background-image:linear-gradient(to right,#3A0A76,#A1779B);
    height: 7vh;
  }
  body {
font-family: Arial;
font-size: 17px;
padding: 8px;
}

* {
box-sizing: border-box;
}
.navbar1{
display: flex;
margin-top: 15px;
margin-bottom: 10px;
}

.logo1{
/* display: inline; */
height:100px;
width:100px;
margin-left: 10px;
padding-left: 35px;
}

.logo1 img{
height:75px;
width:75px;
}

.menu{
margin-top: 5px;
display:flex;
flex-wrap: wrap;
flex-direction: column;
position:relative;
left:200px;
}

.menu ul{
display: flex;
flex-direction: row;
}

.menu ul li{
list-style: none;
padding:8px;
}

.menu ul li a {
text-decoration: none;
cursor: pointer;
color:black;
}

.menu ul li a:hover {
text-decoration: none;
cursor: pointer;
color:orange;
text-decoration: underline;
text-underline-position: under;
}

.login{
background-color: rgb(44, 44, 130);
color:white;
}

.menu ul .login a{
color:white;
}

.logo2{
/* display: inline; */
height:100px;
width:100px;
/* margin-left: 465px; */
margin-left: 380px;
padding-right: 0px;
/* right:500px; */
}

.logo2 img{
height:75px;
width:150px;
}


.container2 {

width: 45vw;
background-color:whitesmoke;
}




input[type=text] {
width: 90%;
margin-bottom: 20px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 3px;
}

label {
margin-bottom: 10px;
display: block;
}

.icon-container {
margin-bottom: 20px;
padding: 7px 0;
font-size: 24px;
}


.btn:hover {
background-color: #45a049;
}

a {
color: #2196F3;
}

hr {
border: 1px solid lightgrey;
}

span.price {
float: right;
color: grey;
}
.button1 {
background-color:orange;
color:white;
border-radius: 5px;
border-width: 0px;
padding:12px;
}
.button2 {
background-color:green;
color:white;
border-radius: 5px;
border-width: 0px;
padding:12px;
}

.button1:hover{
background-color: rgb(202, 137, 18);
}

.button2:hover{
background-color:#2dc235 ;
}
